{{! Потрібно створити <div class="author"></div> }}
{{! Data приходить з fetch-запиту }}

<div class='author__img-wrapper'>
  <img
    class='author__img'
    srcset='https://storage.googleapis.com/poverkh{{this.avatar.md_1x}} 1x, https://storage.googleapis.com/poverkh{{this.avatar.md_2x}} 2x'
    src='https://storage.googleapis.com/poverkh{{this.avatar.md_1x}}'
    loading="lazy"
    alt={{this.name}}
  />
</div>
<h3 class='author__name'>{{this.name}}</h3>
<p class='author__profession'>{{this.position}}</p>
<ul class='author__list'>
  <li class='author__item author__linkedin'>
    <a
      target='_blank'
      aria-label='linkedin-link'
      class='author__link'
      href='https://www.linkedin.com/in/{{this.linkedin}}'
    ></a>
  </li>
  <li class='author__item author__email'>
    <a
      target='_blank'
      aria-label='mail-link'
      class='author__link'
      href='mailto:{{this.email}}'
    ></a>
  </li>
</ul>
<div class='author__service'>
  <p class='author__service-name'>BIM Automation Services</p>

  <div class='author__service-link-wrap'>
    <a
      target='_blank'
      aria-label='Learn more'
      class='author__service-link btn'
      href='./bim-automation.html'
    >Learn more</a>
  </div>
</div>