{{! доступ до класу секції - <div class="other-articles__author-info"> }}
{{! Data приходить з fetch-запиту }}

<div class='author__img-wrapper author-info__img-wrapper'>
  <img
    class='author__img'
    srcset='https://storage.googleapis.com/poverkh{{this.avatar.md_1x}}, https://storage.googleapis.com/poverkh{{this.avatar.md_2x}}'
    src='https://storage.googleapis.com/poverkh{{this.avatar.md_1x}}'
    alt={{this.name}}
  />
</div>
<div class='author-info__wrapper'>
  <h3 class='author__name'>{{this.name}}</h3>
  <p class='author__profession'>{{this.position}}</p>
  <ul class='author__list author-info__list'>
    <li class='author__item author__linkedin'><a
        class='author__link'
        href='https://www.linkedin.com/in/{{this.linkedin}}'
      ></a></li>
    <li class='author__item author__email'><a
        class='author__link'
        href='mailto:{{this.email}}'
      ></a></li>
  </ul>
</div>