{{! потрібно підставити обєкт}}
{{! приклад об'єкта: {title: 'текст заголовка', description: 'опис', listDescription: 'опис листа',
items: ['массив об'єктів'{subtitle: 'назва', subtitleDescription: 'опис' }]
} }}
{{! <section class='outsourceProjects'> }}
<div class='container'>
  <h2 class='outsourceProjects__title'>{{this.title}}</h2>
  <p class='outsourceProjects__description'>{{this.description}}</p>
  <p class='outsourceProjects__list-description'>{{this.listDescription}}</p>
  <ul class='outsourceProjects__list'>
    {{#each this.items}}
      <li class='outsourceProjects__item'>
        <h3 class='outsourceProjects__subtitle'>{{this.subtitle}}</h3>
        <p
          class='outsourceProjects__description'
        >{{this.subtitleDescription}}</p>
      </li>
    {{/each}}
  </ul>
</div>
{{! </section> }}