{{!-- 
ОСЬ так має виглядати ваша дата. 
Скопіюйте будь ласка її , а також ваш унікальний контент вставте замість (one,two,three,four,five);
processTemplate можете назвати якось по іншому, все інше має бути однакове. Дякую за увагу , гарного дня.
export const processTemplate = {
     template: { 
      description:{ 
        one: 'By analyzing the client’s ceiling design process, we identified subprocesses that could be automated.',
     two:'Using Dynamo, we made a script that created all drop ceiling elements according to the set of the main parameters in a single run.',
     three: 'At this stage,we realized that it was more efficient to have human control over every subprocess.',
     four: 'We created 4 scripts for every subprocess: framing grid, framing creation, hangers grid, and hangers and clips creation.',
     five: 'Our engineering team took over the ceiling design process and its improvements.'
    }
  
  }  
  }
  <section class="processTemplate"></section>
   --}}


<div class='container'>
  <h2 class="process__main-title"><b class="text-bolder">Process</b></h2>

  <ul class="process__list">
   {{#with template}}
     <li class="process__item">
        <h3 class="process__title-audit">Audit</h3>
        <p class="process__description">
          {{description.one}}
       
        </p>
      </li>
      <li class="process__item">
        <h3 class="process__title-design">Design</h3>
        <p class="process__description">
        {{description.two}}
        </p>
      </li>
      <li class="process__item">
        <h3 class="process__title-test">Test</h3>
        <p class="process__description">
          {{description.three}}
        </p>
      </li>
      <li class="process__item">
        <h3 class="process__title-refine">Refine</h3>
        <p class="process__description">
          {{description.four}}
        </p>
      </li>
      <li class="process__item">
        <h3 class="process__title-maintain">Maintain</h3>
        <p >
          {{description.five}}
        </p>
      </li> 
     {{/with}}
     
  </ul>
