{{! <section class='section-3'> }}
<h2 class='section-3__title'>{{this.title}}</h2>
<p class='section-3__description'>{{this.description}}</p>
<ul class='section-3__list'>
  <p>{{this.listDescription}}</p>
  {{#each this.items}}
    <li class='section-3__item'>
      <h3 class='section-3__subtitle'>{{this.subtitle}}</h3>
      <p class='section-3__description'>{{this.subtitleDescription}}</p>
    </li>
  {{/each}}
</ul>
{{! </section> }}